django  # WEBSITE
djangorestframework  # WEBSITE
djoser  # AUTH
python-dotenv  # DOTENV SUPPORT
psycopg2  # DATABASE
flake8  # CODE REFACTORING
celery  # TASK QUEUE
Pillow  # DJANGO IMAGEFIELD
requests  # PRODUCT IMAGE DOWNLOADER
