asgiref==3.8.1
aiogram==3.12.0
aiohttp
boto3
bs4
celery
django
django-storages
django_redis
djangorestframework
djoser
flake8
googletrans
loguru
lxml
parsel==1.9.1
Pillow
pre-commit
psycopg2
pycbrf
pydantic-settings
python-dotenv
qrcode
redis
requests
ruff
social-auth-app-django
Scrapy==2.11.2
colorlog==6.8.2
scrapy-djangoitem==1.1.1
schedule==1.2.2
tqdm
gunicorn==23.0.0
