.filter {
    border: none;
    padding: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    flex-wrap: wrap;
}

.sumbit {
    margin-top: 0;
    padding: 10px 20px;
    background-color: #2076E4;
    color: white;
    border-radius: 8px;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.47px;
    text-align: center;
}

.clear {
    margin-top: 0;
    padding: 10px 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.47px;
    text-align: center;
    background-color: white;
    color: #83878C;
    border: 1px solid #83878C;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalogInputs {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.button{
    display: flex;
}

.filter_header {
    padding: 10px 0;
}

@media (max-width: 1150px) {

}