.catalogItem {
    max-width: 380px;
    border: 1px solid #d8dfe7;
    border-radius: 10px;
    padding: 10px 15px 20px;
}

.img {
    object-fit: contain;
    width: 350px;
    height: 410px;
    border-radius: 10px;
    cursor: pointer;
}

.subImages {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 7.5px;
}

.subImage {
    width: 52.5px;
    height: 52.5px;
    border-radius: 7.5px;
}

.info_text h1 {
    cursor: pointer;
    margin-top: 15px;
    font-size: 27px;
    font-weight: 600;
    line-height: 32.68px;
    text-align: left;
}

.info_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices h2 {
    font-size: 22.5px;
    font-weight: 600;
    line-height: 27.23px;
    text-align: left;
}

h3 {
    margin-top: 10px;
    font-size: 22.5px;
    font-weight: 400;
    line-height: 27.23px;
    text-align: left;
}

.prices {
    margin-top: 15px;
    border: 1px solid #cfd5dd;
    border-radius: 10px;
    padding: 12px;
}

.button {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.47px;
    text-align: left;
    padding: 9px 25px;
    background-color: #E22B59;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 1150px) {
    .img {
        width: 250px;
    }
    .catalogItem {
        max-width: 300px;
    }
  }