.map {
    height: 955px;
    width: 100%;
    border: none;
}

.title {
    padding: 0 70px 50px;
    width: 100%;
}

.title h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: left;
    
}

.info {
    background-color: #2076E4;
    height: 666px;
    width: 666px;
    position: absolute;
    top: 277px;
    left: 60px;
    padding: 168px 40px 188px;
}

.info p {
    color: white;
    font-size: 33px;
    font-weight: 600;
    line-height: 39.94px;
    text-align: left;
}

.email {
    margin-top: 100px;
}

p span {
    text-decoration: underline;
}

.icons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.footer {
    display: none;
}

@media (max-width: 1650px) {
    
    .info {
        top: 0;
        left: 0;
        position: relative;
        width: 100%;
        height: 100%;
    }
}